/* LocationModal.css */

.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content2 {
    background-color: white;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #555;
  }
  
  .modal-body p {
    margin: 10px 0;
  }
  
  .sign-in-button {
    background-color: #ffd814;
    border: none;
    border-radius: 24px;
    padding: 10px;
    color: black;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .or-text {
    text-align: center;
    margin: 10px 0;
    color: #555;
  }
  
  .pincode-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .pincode-input input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .apply-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e3e3e3;
    cursor: pointer;
  }
  